/* General style */

@font-face {
    font-family: halfshell;
    src: url(halfshellhero/halfshellhero.ttf);
}

@font-face {
    font-family: raleway;
    src: url(raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: ralewayHeavy;
    src: url(raleway/Raleway-Heavy.ttf);
}

body {
    background-color: #5b4b50;
    margin: 0;
    width: 100%;
}

h1 {
    color: #c7c6c5;
    font-family: halfshell;
    font-size: 4em;
    display: inline-block;
    vertical-align: top;
    margin-top: 80px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 12%;
}
@media only screen and (max-width: 1100px) {
    h1 { font-size: 300%; margin-top: 10%; width: 15%;}
}
@media only screen and (max-width: 800px) {
    h1 { font-size: 200%; margin-top: 10%; width: 15%;}
}

h2 {
    font-family: halfshell;
    margin: 0;
    margin-bottom: 0px;
    color: black;
    text-align: center;
    font-size: 2.4em;
    color: white;
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ee5f60;
}
@media only screen and (max-width: 800px) {
    h2 { font-size: 200%;}
}
@media only screen and (max-width: 799px) {
    h2 { font-size: 150%;}
}
.h2Container {
    position: relative;
    margin: 0 5px;
    padding-bottom: 10px;
}

h3 {
    font-family: halfshell;
    font-size: 1.7em;
    color: #5b4b50;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto;
    margin-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 799px) {
    h3 { font-size: 100%; width: 30px; height: 30px;}
}
.h3Filip {
    background-color: #f5b660;
    color: white;
}
.h3Viktor {
    background-color: #0a223f;
    color: white;
}
.h3Elias {
    background-color: #8cbeb2;
    color: white;
}

hr {
    background-color: #5b4b50;
    height: 1px;
    border: 0;
}

a {
    color: #f2edc0;
    font-family: raleway;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;

    transition: color 0.15s linear;
}
a:hover { 
    color: white;
}

.collapseExpand {
    font-family: halfshell;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ee5f60;
    text-align: center;
    font-size: 2em;

    border: none;
    background: none;

    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    vertical-align: middle;
    display: inline-block;

    width: 30px;

    transition: color 0.15s linear;
}
@media only screen and (max-width: 799px) {
    .collapseExpand { font-size: 150%; right: 0px;}
}

.collapseExpand:hover {
    color: #ee5f60;
}

.collapseExpand:focus {
    outline: 0;
}

.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  text-align: left;
}
.flex-center {
  display: flex;
  justify-content: center;
}


/* Header style */

#titlelogo {
    width: 100%;
    display: inline-block;
}

#logo {
    display: inline-block;
    width: 25%;
    max-width: 200px;
}
@media only screen and (max-width: 800px) {
    #logo { width: 25%; }
}


/* Total score style */

.totalPoints {
    color: #5b4b50;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.3em;
    text-align: center;
    font-family: halfshell;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #c5be93;
}
@media only screen and (max-width: 799px) {
    .totalPoints { font-size: 1.8em;}
}

.totalColumn {
    margin-top: 20px;
    margin: 0 8%;
}

.leaderCrown {
    display: block;
    margin: 5px auto;
    fill: white;
    opacity: 0;

    position: relative;

    transition: opacity 0.5s 0.75s ease-out;
    -webkit-transition: opacity 0.5s 0.75s ease-out;

    animation: pulsate 1.5s linear infinite;
}
@keyframes pulsate {
    0%    {transform: scale(0.9);}
    50%   {transform: scale(1.1);}
    100%  {transform: scale(0.9);}
}

#leagueSection h2 {
    font-size: 3em;
}

#leagueSection h3 {
    margin-top: 0px;
    font-size: 3em;
    width: 60px;
    height: 60px;
}

/* Division style */

.division {
    position: relative;
    background-color: #f2edc0;
    border-radius: 30px;
    padding: 30px 30px;
    margin: 20px auto;
    width: 800px;

    opacity: 0;
    transition: opacity 1s ease-out;
}
@media only screen and (min-width: 800px) {
    .division { min-width: 800px; }
}
@media only screen and (max-width: 799px) {
    .division { 
        padding: 30px 0px;
        margin: 10px auto;
        width: 95%;
    }
}

.scoreboard {
    font-family: raleway;
    text-align: left;
    margin-top: 15px;
    overflow: hidden;
    max-height: 100%;
    display: flex;
    justify-content: center;
}

.divisionColumn {
    display: inline-block;
    padding: 15px 15px;
}
@media only screen and (max-width: 800px) {
    .divisionColumn { padding: 5px 5px;}
}

.teamPosition {
    font-family: raleway;
    font-size: 0.85em;
    text-align: left;
    margin: 5px;
    color: #5b4b50;
}
@media only screen and (max-width: 799px) {
    .teamPosition { font-size: 60%;}
}

.teamPlayoffPosition {
    font-family: ralewayHeavy;
    font-size: 0.85em;
    text-align: left;
    margin: 5px;
    color: #5b4b50;
}
@media only screen and (max-width: 799px) {
    .teamPlayoffPosition { font-size: 60%;}
}

.divisionScore {
    font-family: ralewayHeavy;
    font-size: 0.85em;
    text-align: center;
    margin: 5px;
    padding: 0;
    color: #5b4b50;
}
@media only screen and (max-width: 400px) {
    .divisionScore { font-size: 60%;}
}

/* Trophy section style*/

.h3Trophy {
    width: auto;
}

#trophySection h2 {
    margin-bottom: 0;
}

#trophySection h3 {
    margin-top: 15px;
}

#trophyScoreboard {
    display: block;
}

#trophySection .teamPosition {
    text-align: center;
}

.trophyWinner {
    font-family: ralewayHeavy;
    color: #5b4b50;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.1em;
}

#trophySummary {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
}


/* Footer style */

#seasonFooter {
    width: 100%;
    margin: auto;
    margin-top: 30px;
}
#seasonFooter h1 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
    width: auto;
    display: block;
}
#seasonFooter hr {
    width: 10%;
    background-color: black;
    display: block;
}
#pdffile {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 0.9em;
}
#copyright {
    font-family: raleway;
    font-size: 0.6em;
    color: #f2edc0;
    text-align: center;
    display: block;
    margin-top: 50px;
    opacity: 0.25;
}