/* General style */

html {
    height: 100%;
}

@font-face {
    font-family: halfshell;
    src: url(halfshellhero/halfshellhero.ttf);
}

@font-face {
    font-family: megabomb;
    src: url(megabomb/Megabomb.ttf);
}

@font-face {
    font-family: krinkes;
    src: url(krinkes/KrinkesRegularPERSONAL.ttf);
}

@font-face {
    font-family: raleway;
    src: url(raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: ralewayHeavy;
    src: url(raleway/Raleway-Heavy.ttf);
}

body {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

#mainContent {
    opacity: 0;
    transition: opacity 800ms 500ms ease-in;
    will-change: opacity;
}

#background-image {
    z-index: -5;
    margin: 0;
    width: 100%;
    background: url("bg.jpg") no-repeat fixed;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    transform: translate3d(0,0,0);
    will-change: translate3d;
}

h1 {
    color: #ffffff;
    font-family: megabomb, sans-serif;
    font-size: 5em;
    display: inline-block;
    vertical-align: top;
    margin-top: 80px;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    width: 12%;
    opacity: 0.9;
}
@media only screen and (max-width: 1100px) {
    h1 { font-size: 300%; margin-top: 10%; width: 15%;}
}
@media only screen and (max-width: 850px) {
    h1 { font-size: 200%; margin-top: 10%; width: 15%;}
}

h2 {
    font-family: krinkes, sans-serif;
    margin: 0 0 0;
    text-align: center;
    font-size: 2.6em;
    color: white;
    
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #939080;*/
}
@media only screen and (max-width: 850px) {
    h2 { font-size: 200%;}
}
@media only screen and (max-width: 849px) {
    h2 { font-size: 150%;}
}
@media only screen and (max-width: 350px) {
    h2 { font-size: 130%;}
}
.h2Container {
    position: relative;
    margin: 0 5px;
    padding-bottom: 10px;
}

h3 {
    font-family: ralewayHeavy, sans-serif;
    font-size: 1.7em;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto auto 15px;
    display:flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 849px) {
    h3 { font-size: 100%; width: 30px; height: 30px;}
}
.h3Filip {
    background-color: #f5b660;
    color: white;
}
.h3Viktor {
    background-color: #0a223f;
    color: white;
}
.h3Elias {
    background-color: #8cbeb2;
    color: white;
}

hr {
    background-color: white;
    height: 1px;
    border: 0;
    opacity: 0.75;
}

a {
    color: #f2edc0;
    font-family: raleway, sans-serif;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;

    transition: color 0.15s linear;
    will-change: color;
}
a:hover { 
    color: white;
}

.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  text-align: left;
}
.flex-center {
  display: flex;
  justify-content: center;
}


/* Header style */

#titlelogo {
    width: 100%;
    display: inline-block;
}

#logo {
    display: inline-block;
    width: 25%;
    max-width: 200px;
}
@media only screen and (max-width: 850px) {
    #logo { width: 25%; }
}


/* Total score style */

.totalPoints {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.3em;
    text-align: center;
    font-family: megabomb, sans-serif;
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #c5be93;*/
}
@media only screen and (max-width: 849px) {
    .totalPoints { font-size: 1.6em;}
}

.totalColumn {
    margin: 0 8%;
}

.leaderCrown {
    display: block;
    margin: 5px auto;
    fill: white;
    opacity: 0;
    width: 60px;

    position: relative;

    transition: opacity 0.5s 0.75s ease-out;
    -webkit-transition: opacity 0.5s 0.75s ease-out;

    animation: pulsate 1.5s linear infinite;
    will-change: opacity, scale;
}
@keyframes pulsate {
    0%    {transform: scale(0.9);}
    50%   {transform: scale(1.1);}
    100%  {transform: scale(0.9);}
}

#leagueSection h2 {
    font-size: 2.9em;
}

#leagueSection h3 {
    margin-top: 0;
    font-size: 3em;
    width: 60px;
    height: 60px;
}

input {
    border-radius: 10px;
    height: 20px;
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    color: white;
    padding-left: 10px;
    font-family: raleway, sans-serif;
}

/* Division style */

.division {
    position: relative;
    background-color: rgba(21, 29, 43, 0.55);
    border-radius: 30px;
    padding: 30px 30px;
    margin: 20px auto;
    width: 850px;
    overflow: hidden;
}
@media only screen and (min-width: 850px) {
    .division { min-width: 850px; }
}
@media only screen and (max-width: 849px) {
    .division { 
        padding: 30px 0;
        margin: 10px auto;
        width: 95%;
    }
}

#viewSection {
    margin: 0 auto;
    padding: 0;
    border-radius: 0;
    background: none;
    font-size: 0.9em;
}

#viewSection .betStatSelector {
    margin-top: 0;
}

.scoreboard {
    font-family: raleway, sans-serif;
    text-align: left;
    margin: 15px auto auto;
    overflow: hidden;
    max-height: 100%;
    display: flex;
    justify-content: center;
    opacity: 1;

    transition: opacity 1s linear;
    will-change: opacity;
}

.divisionColumn {
    display: inline-block;
    padding: 15px 15px;
}
@media only screen and (max-width: 850px) {
    .divisionColumn { padding: 5px 5px;}
}

.betsform {
    text-align: center;
}

.betsformSubmit {
    font-family: megabomb, sans-serif;
    font-size: 3em;
    color: white;
    margin: 10px 10px 0 10px;
    background: none;
    border: none;
    display: inline-block;

    -webkit-tap-highlight-color: transparent;
}

.betsformSubmit:hover {
    color: #8cb8ff;
}

.betStatSelector {
    font-family: megabomb, sans-serif;
    font-size: 1.2em;
    color: #827e8c;
    margin: 10px 10px 0 10px;
    background: none;
    border: none;

    -webkit-tap-highlight-color: transparent;

    transition: all 0.12s linear;
    will-change: color, scale, webkitTextStrokeColor;
}
.betStatSelector:focus {
    outline: 0;
}

select {
    background-color: transparent;
    font-family: raleway, sans-serif;
    font-size: 0.85em;
    text-align: left;
    margin: 5px;
    color: white;
    border-radius: 10px;
    height: 25px;
    padding-left: 5px;
}

option {
    background-color: transparent;
    font-family: raleway, sans-serif;
    font-size: 0.85em;
    text-align: left;
    margin: 5px;
    color: black;
}

.betsformTeam {
    font-family: raleway, sans-serif;
    font-size: 1em;
    text-align: left;
    margin: 5px;
    color: white;
}

.teamPosition {
    font-family: raleway, sans-serif;
    font-size: 0.85em;
    text-align: left;
    margin: 5px;
    color: white;
}
@media only screen and (max-width: 849px) {
    .teamPosition { font-size: 60%;}
}
@media only screen and (max-width: 400px) {
    .teamPosition { font-size: 48%;}
}
@media only screen and (max-width: 350px) {
    .teamPosition { font-size: 65%;}
}
.teamPosition.over {
    color: black;
    font-size: 1.5em;
}

.teamPlayoffPosition {
    font-family: ralewayHeavy, sans-serif;
    font-size: 0.85em;
    text-align: left;
    margin: 5px;
    color: white;
}
@media only screen and (max-width: 849px) {
    .teamPlayoffPosition { font-size: 60%;}
}
@media only screen and (max-width: 400px) {
    .teamPlayoffPosition { font-size: 48%;}
}
@media only screen and (max-width: 350px) {
    .teamPlayoffPosition { font-size: 65%;}
}

.divisionScore {
    font-family: ralewayHeavy, sans-serif;
    font-size: 0.85em;
    text-align: center;
    margin: 5px;
    padding: 0;
    color: white;
}
@media only screen and (max-width: 400px) {
    .divisionScore { font-size: 50%;}
}
@media only screen and (max-width: 350px) {
    .divisionScore { font-size: 70%;}
}

/* Trophy section style*/

.h3Trophy {
    width: auto;
}

#trophySection h2 {
    margin-bottom: 0;
}

#trophySection h3 {
    margin-top: 15px;
}

#trophyScoreboard {
    display: block;
}

#trophySection .teamPosition {
    text-align: center;
}

.trophyImage {
    width: 80px;
    height: 100px;
    margin-bottom: 25px;
}

.trophyWinner {
    font-family: ralewayHeavy, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.3em;
}

.trophySecond {
    font-family: ralewayHeavy, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.95em;
    opacity: 0.6;
}

.trophyThird {
    font-family: ralewayHeavy, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
    opacity: 0.25;
}

#trophySummary {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
}


/* Footer style */

#seasonFooter {
    opacity: 0.85;
    width: 100%;
    margin: 30px auto auto;
}
#seasonFooter h1 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
    width: auto;
    display: block;
}
#seasonFooter hr {
    width: 10%;
    background-color: white;
    display: block;
    opacity: 0.75;
}
#misc {
    font-family: raleway, sans-serif;
    font-size: 0.7em;
    color: #f2edc0;
    text-align: center;
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
}
.miscLink {
    font-size: 0.7em;
    display: block;
    text-align: center;
    margin: 5px auto;
}

#copyright {
    font-family: raleway, sans-serif;
    font-size: 0.6em;
    color: #f2edc0;
    text-align: center;
    display: block;
    margin-top: 50px;
    opacity: 0.25;
}