@font-face {
    font-family: raleway;
    src: url(../raleway/Raleway-Medium.ttf);
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
	height: 100%;
	font-family: raleway;
	color: #595959;
}

p {
	margin: auto;
	text-align: center;
}

input {
	font-family: raleway;
	font-size: 1.3em;
	color: #595959;
	text-align: center;
	margin: auto;
	display: block;
	border: none;
	border-bottom: solid 1px;
	border-bottom-color: #ccc;
	width: 150px;
	margin-top: 30px;
}

input:focus {
	outline: none;
}

#format {
	color: #bcbcbc;
	margin-top: 10px;
	font-size: 0.9em;
}

#youWereBorn {
	margin-top: 100px;
}

#mainContent {
	margin:auto;
	width: 80%;
	margin-top: 13%;
}
@media only screen and (max-width: 775px) {
	#mainContent { width: 95%; }
}

.centeredFlex {
	display: flex;
	justify-content: center;
	overflow: hidden;
	padding-bottom: 30px;
}
@media only screen and (max-width: 775px) {
	.centeredFlex { display: block; margin: auto;}
}

.weekday {
	font-family: raleway;
	font-weight: normal;
	display: inline-block;
	text-align: center;
	margin: 0 15px;
	margin-top: 20px;
	color: #bcbcbc;

	transition: all 1s ease-in-out;
}
@media only screen and (max-width: 775px) {
	.weekday { display: block; }
}